# Edit these parameters on your environment.
PYVENV_DIR=
PYVENV=
PGSQL_HOME=

TOOL_DIR=

## Python
[ -d $PYVENV_DIR ] || $PYVENV $PYVENV_DIR
source $PYVENV_DIR/bin/activate

## Directory layout
export TOOL_DIR=$TOOL_DIR

## PostgreSQL
[ -d $PGSQL_HOME ] && export PATH=$PATH:$PGSQL_HOME/bin

export PGHOST=$NAVILOG_PGHOST
export PGPORT=$NAVILOG_PGPORT
export PGDATABASE=$NAVILOG_PGDATABASE
export PGUSER=$NAVILOG_PGUSER
export PGPASSWORD=$NAVILOG_PGPASSWORD

